
In Connection.php line 838:
                                                        
  SQLSTATE[HY000] [1049] Unknown database 'supply_chai  
  n_risk' (Connection: mysql, Host: 127.0.0.1, Port: 3  
  306, Database: supply_chain_risk, SQL: select * from  
   `countries` order by `name` asc)                     
                                                        

In Connector.php line 66:
                                                        
  SQLSTATE[HY000] [1049] Unknown database 'supply_chai  
  n_risk'                                               
                                                        

